; {{ ansible_managed }}

[unix_http_server]
file={{ supervisor_data_dir }}/{{ supervisor_app_name }}.sock
chmod=0700

[inet_http_server]         ; inet (TCP) server disabled by default
port=127.0.0.1:9001        ; (ip_address:port specifier, *:port for all iface)
;username=user              ; (default is no username (open server))
;password=123               ; (default is no password (open server))

[supervisord]
logfile={{ supervisor_log_dir }}/{{ supervisor_app_name }}.log
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info ; debug,warn,trace
pidfile={{ supervisor_data_dir }}/{{ supervisor_app_name }}.pid
nodaemon=false
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)
;umask=022                   ; (process file creation umask;default 022)
;user={{supervisor_user}}                 ; (default is current user, required if root)
;identifier=supervisor       ; (supervisord identifier, default is 'supervisor')
;directory=/tmp              ; (default is not to cd during start)
;nocleanup=true              ; (don't clean up tempfiles at start;default false)
childlogdir={{ supervisor_log_dir }}
;environment=KEY="value"     ; (key value pairs to add to environment)
;strip_ansi=false            ; (strip ansi escape codes in logs; def. false)

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_data_dir }}/{{ supervisor_app_name }}.sock

[include]
files = {{ supervisor_available_dir }}/*.conf
