
upstream blog-backend {
    {% if nginx_use_gunicorn|default(false) and blog_use_gunicorn|default(false) %}
    server {{blog_gunicorn_host}}:{{blog_gunicorn_port}} fail_timeout=0;
    {% else %}
    server {{blog_host}}:{{blog_port}} fail_timeout=0;
    {% endif %}
}

server {

	listen   {{blog_nginx_port}}; ## listen for ipv4

	server_name  {{ blog_host }};

	access_log  {{ blog_log_dir }}/{{ BLOG_SERVER_NAME }}.access.log;
	error_log   {{ blog_log_dir }}/{{ BLOG_SERVER_NAME }}.error.log debug;

	location / {
        try_files $uri $uri/ @django;
        root {{ blog_web_dir }};
        index  index.html index.htm;
	}

	location @django {
		proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://blog-backend;
	}

	location /images {
		root   /usr/share;
		autoindex on;
	}

	#error_page  404  /404.html;

	location ~ ^/static/(?P<file>.*) {
        root {{ blog_web_dir }};
        try_files /static/$file =404;
    }

}