[program:blog]


{% set executable = blogapp_venv_dir + '/bin/gunicorn' %}

command={{ executable }} --preload -b {{ blog_gunicorn_host }}:{{ blog_gunicorn_port }} -w 3 --timeout=300 --pythonpath={{ blog_app_dir }} blog.wsgi

user={{ common_web_user }}
directory={{ blog_app_dir }}
environment=PORT={{blog_gunicorn_port}},ADDRESS={{blog_gunicorn_host}},LANG=ru,DJANGO_SETTINGS_MODULE=blog.settings
stdout_logfile={{ supervisor_log_dir }}/%(program_name)-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)-stderr.log
killasgroup=true
stopasgroup=true